<div class="container">
  <h2>Diretivas</h2>
  <select #select
          [style]="{'width':'30%', 'height':'1.9em', 'margin':'1.5em'}"
          (change)="onSelectAula(select.value)">
    <option value="1">NgIf & SwitchCase</option>
    <option  value="2">NgFor</option>
    <option  value="3">Content</option>
    <option selected value="4">Custom directive</option>
  </select>
</div>

<div class="container-sm" [ngSwitch]="aula">
  <app-ngif *ngSwitchCase="1"></app-ngif>
  <app-ngfor *ngSwitchCase="2"></app-ngfor>
  <app-ng-content *ngSwitchCase="3">
    <div class="hello">Hello World!</div>
    <div class="desc">A exemple of ng-content</div>
    <div class="nada">Nada</div>
  </app-ng-content>
  <app-generic-one *ngSwitchCase="4"></app-generic-one>
</div>
